.badges-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 14px;
}

.badges {
    font-size: 2em;
    cursor: pointer;
}

.badge-html5 {
    color: #e54d26;
}

.badge-css3 {
    color: #254bdc;
}

.badge-js {
    color: #f0d63b;
}

.badge-sass {
    color: #c76395;
}

.badge-bootstrap {
    color: #7010ee;
}

#ts-badge img {
    border-radius: 0;
    width: 56.25px;
    cursor: pointer;
}

#scrum-badge img {
    border-radius: 0;
    width: 56.25px;
    cursor: pointer;
}

.badge-reactjs {
    color: #00c6f7;
}

.badge-php {
    color: #5e7eb1;
}

#python-badge img {
    border-radius: 0;
    width: 49.22px;
    cursor: pointer;
}

.badge-sql {
    color: #f6ad00;
}

.badge-git {
    color: var(--mainText);
}
